.App {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  width: 1100px;
  align-content: center;
  margin-top: 20px;
}

body{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Geomanist-Regular';
  src: local('Geomanist-Regular'), url(./Geomanist-Regular.otf);
}

@font-face {
  font-family: 'Geomanist-bold';
  src: local('Geomanist-bold'), url(./Geomanist-Bold.otf);
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: local('HelveticaNeue-Medium'), url(./HelveticaNeue-Medium.otf);
}

*{
  font-family: 'HelveticaNeue-Medium', sans-serif;
  box-sizing: border-box;
}

.box{
  flex: 0 0 calc(25% - .2rem) !important;
  /* border: 1px solid gray; */
  min-height: 300px;
  margin-bottom: 0.5rem;
  padding: 20px;
  box-sizing: border-box;
}

.app0{
  margin-top: 50px;
  box-sizing: border-box;
}
.box img{
  max-width: 100%;
  /* width: inherit; */
  height: auto;
}

p{
  font-family:'HelveticaNeue-Medium' ;
  color: #3a3a3a;
}


p:hover{
  text-decoration: underline;
}

.cart{
  display: flex;
  justify-content: space-between;
}

table{
  width: 1000px;
}
tr{
  text-align: left;
}

td{
  padding: 20px 0px;
  /* margin-left: 20px; */
  /* border: 1px solid gray; */
  text-align: left;
}
.cartimage{
  max-height: 95px;
  display: block;
  margin: 0 auto;
  padding-right: 3rem;
  flex: 9rem 0 0;
}

.cartimage img{
  max-width: 100%;
  object-fit: contain;
}

.disk{
  display: flex;
  width: 50%;
  /* border:1px solid gray; */
  /* padding: 20px; */
}

.text-link--accent {
  color: #3a3a3a;
  /* border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
  width: 40%; */
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  color: #3a3a3a;
  line-height: 1.5;
  letter-spacing: 2px;
}